/*Corpo*/
body {
    font: normal 14pt Arial;
    background-color: #d4daa1;
}

/*Cabeçalho*/

.head {
    font: normal 40pt Arial;
    text-align:center;
    background-color: #e4ccb8; 
    width: 100%;
    height: 70px;
}

/*Corpo*/
.poema {
    text-align: center;
}

.ilus {
text-align: center;
}

.charge {
    text-align: center;
}

ul {
    justify-content: space-around;
}

.equipe {
    text-align: center;
}