/*Corpo*/
body {
    background-image: url(../HTML-CSS/JPGs/foto3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Botão da Revolução Pernambucana*/
.btn-revolucao {
    left: 20%;
    background: none;
    border: 0;
    position: relative;
    font-weight: bold;
    transition: all 500ms ease-in-out;
    
}
button:after {
    content: '';

    transition: inherit;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ffffff;

    position: absolute;
    top: -50%;
    left: -10%;
    opacity: 0.3;
    z-index: - 1;
}
button:hover:after {
    width: calc(100% + 20px);
    border-radius: 20px;
    opacity: 0.3;
}

/*Botão da Confederação do Equador*/
.btn-confederacao {
    left: 40%;
    background: none;
    border: 0;
    position: relative;
    font-weight: bold;
    transition: all 500ms ease-in-out;
}
button:after {
    content: '';

    transition: inherit;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ffffff;

    position: absolute;
    top: -50%;
    left: -10%;
    opacity: 0.3;
    z-index: - 1;
}
button:hover:after {
    width: calc(100% + 20px);
    border-radius: 20px;
    opacity: 0.3;
}